node_modules/
.DS_Store
.vscode/
dist/
*.txtnode_modules/
.DS_Store
.vscode/
dist/
*.log
*.swp
*.swo
.cache/
.parcel-cache/
.env
.env.local
.env.development*
.env.production*
.env.test*
.env.prototype

